/* 2.ENTER BOX */
.white {
    /* サイズ */
    width: 600px;
    height: auto;

    /* 角丸 */
    border-radius: 12px;
}


/* 2.ENTER TEXT */
.white .enter-text {
    /* 色 */
    color: #d1fffc;

    /* 横いっぱいに置く */
    display: block;

    /* 文字情報 */
    font-family: "Fascinate";
    font-size: 70px;
    text-align: center;
    font-style: normal;

    /* フチ */
    -webkit-text-stroke: 1px #7e7e7e;
}
