/* 1.ページ全体 背景 */
body {
    /* 背景色 */
    background-color: #d1fffc;

    /* 文字選択禁止 */
    user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        /* 中身の位置 */
    padding: 40px;
}

/* カーソルを変更 */
a,
#thumbnail img {
    cursor: pointer;
}

/* 長押し禁止 */
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    user-select: none;
}


/* 2.画面中央基準 */
.bg-box {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}


/* 2.白背景 */
.white {
    box-sizing: border-box;

    /* 色 */
    background-color: #ffffff;

    /* 方眼紙 */
    background-image:
        linear-gradient(#f4f4f4 2px, transparent 1px),
        linear-gradient(90deg, #f4f4f4 2px, transparent 1px);

    background-size: 24px 24px;
    background-position: 14px 14px;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin: 0 auto;
    margin-top: 60px;

    /* 中身の位置 */
    padding: 40px;

    /* サイズ */
    width: 1600px;
    height: auto;

    /* 角丸 */
    border-radius: 10px;

    /* はみ出し部分を隠す */
    overflow: hidden;
}


/* 3.注意書き */
.attention-text {
    /* 色 */
    color: #000000;

    /* ハコごと中央配置 */
    display: flex;
    justify-content: center;

    /* 位置 */
    margin: 0 auto;
    margin-top: 40px;

    /* 文字情報 */
    font-family: "Zen Maru Gothic";
    font-size: 18px;
    text-align: left;
    font-style: normal;
}


/* 4.リンク関連 */
a {
    /* 下線消す */
    text-decoration: none;
}


/* 5.コンテンツタイトル文字 */
.contents-title {
    /* 色 */
    color: #7c7c7c;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin: 20px;

    /* 文字情報 */
    font-family: "Zen Maru Gothic";
    font-size: 40px;
    text-align: left;
    font-style: normal;
}
