/* 1.ページ全体 */
/* 背景 */
body {
    /* 背景色 */
    background-color: #d1fffc;

    /* 文字選択禁止 */
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* リンク下線消す */
a {
    text-decoration: none;
}

/* カーソルを変更 */
a,
#thumbnail img {
    cursor: pointer;
}

/* 長押し禁止 */
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    user-select: none;
}

/* 画面中央基準 */
    .bg-box {
    max-width: 1920px;
    margin: 0 auto;
}

/* 2.各種文字 */
.Fascinate {
    /* 色 */
    color: #d1fffc;

    /* 横いっぱいに置く */
    display: block;

    /* 文字情報 */
    font-family: "Fascinate";
    text-align: center;
    font-style: normal;
}

.KiWiMaru {
    /* 色 */
    color: #7c7c7c;

    /* 横いっぱいに置く */
    display: block;

    /* 文字情報 */
    font-family: "Kiwi Maru";
    text-align: center;
    font-style: normal;
}

.ZenMaru {
    /* 色 */
    color: #7c7c7c;

    /* 横いっぱいに置く */
    display: block;

    /* 文字情報 */
    font-family: "Zen Maru Gothic";
    text-align: left;
    font-style: normal;
}


/* 3.白背景 */
.white {
    /* 色 */
    background-color: #ffffff;

    /* 方眼紙 */
    background-image:
        linear-gradient(#f4f4f4 2px, transparent 1px),
        linear-gradient(90deg, #f4f4f4 2px, transparent 1px);

    background-size: 24px 24px;
    background-position: 14px 14px;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin: 30px auto;
    margin-top: 60px;

    /* 中身の位置 */
    padding: 40px;

    /* サイズ */
    width: 100%;
    max-width: 1400px;
    height: auto;
    box-sizing: border-box;

    /* 角丸 */
    border-radius: 10px;

    /* はみ出し部分を隠す */
    overflow: hidden;
}


/* 4.注意書き */
.attention-text {
    /* 色 */
    color: #000000;

    /* 位置 */
    margin: 30px auto;
    margin-top: 40px;

    /* サイズ */
    width: 100%;
    max-width: 740px;

    /* 文字情報 */
    font-family: "Zen Maru Gothic";
    font-size: 18px;
    text-align: left;
    font-style: normal;

    /* 折り返し しない */
    white-space: nowrap;

    /* はみ出し部分はスクロール */
    overflow-x: auto;
}


/* 5.ページ遷移アイコン */
.home-button {
    /* 背景色 */
    background: white;
    opacity: 0.8;

    /* 位置 */
    position: fixed;
    bottom: 50px;
    right: 50px;

    /* 重なり */
    z-index: 1000;

    /* サイズ */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 16px;
}


/* 6.一覧ページタイトル */
.content-title {
    /* 色 */
    color: #7c7c7c;

    /* 横いっぱいに置く */

    /* 文字情報 */
    font-family: "Zen Maru Gothic";
    font-size: 40px;
    text-align: left;
    font-style: normal;
}

/* 99.各種対応 */
@media (max-width: 600px) {
    body {
        transform: scale(0.75);
        transform-origin: top center;
    }
}
}
