/* 99.ENTER BOX */
.white {
    /* サイズ */
    width: 600px;
    height: auto;

    /* 角丸 */
    border-radius: 12px;
}


/* 99.ENTER TEXT */
.Fascinate {
    /* サイズ */
    font-size: 70px;

    /* フチ */
    -webkit-text-stroke: 1px #7e7e7e;
}
