/* 2.白背景 */
.white {
    /* サイズ */
    width: 1000px;
}


/* 2-B.白背景 文字 */
.name-text {
    /* 色 */
    color: #d1fffc;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin-top: -95px;
    margin-left: -44px;

    /* 文字 */
    font-family: "Erica One";
    font-size: 106px;
    text-align: center;
    font-style: normal;

    /* フチ */
    -webkit-text-stroke: 1px #ffffff;

    /* 折り返し しない */
    white-space: nowrap;
}


/* 99.コンテンツリンク */
/* 文字サイズ */
.KiWiMaru {
    font-size: 30px;
}

/* ハコ */
.white .content-link-box {
    box-sizing: border-box;

    /* 色 */
    background-color: #d1fffc;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin: 30px;

    /* 中身の位置 */
    padding: 20px;

    /* サイズ*/
    width: 300px;

    /* 角丸 */
    border-radius: 12px;
}

/* inline箇所 */
.white .content-link-box.inline {
    /* 横に並べて置く */
    display: inline-block;

    /* 位置 */
    margin-bottom: 0px;
}


/* 98.追記コンテンツ */
.KiWiMaru--add {
    /* 横に並べて置く */
    display: inline-block;

    /* 位置 */
    margin: 20px;

    /* 文字サイズ */
    font-size: 18px;

    /* 下線 */
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 6px;
}
