/* 2.白背景 2個目以降 */
.white + .white {
    margin-top: 20px;
}


/* 99.文字 */
.ZenMaru {
    /* 文字サイズ */
    font-size: 20px;
}


/* カテゴリ */
.tag label {
    margin-right: 50px;
    margin-left: 10px;
}

.tag input[type="checkbox"] {
    margin-right: 10px;
}


/* タグ */
.tag input[type="radio"] {
    margin-right: 10px;
}

#radioBox label {
    margin-right: 40px;
    margin-bottom: 8px;
    display: inline-block;
}


.nothing {
    /* 色 */
    color: #4d4d4d;

    /* 位置 */
    margin-left: 10px;

    /* 文字サイズ */
    font-size: 16px;
}
