/* 99.イラストタイトル */
.title {
    /* 文字サイズ */
    font-size: 40px;
}


/* 98.絵 */
.illust {
    display: block;
    
    /* 色 */
    background-color: #f3f3f3;

    /* 位置 */
    margin-top: 30px;
    margin-left: 10px;

    /* サイズ */
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: contain;

    /* はみ出し部分を隠す */
    overflow: hidden;
}


/* 97.キャプション */
.caption {
    /* サイズ */
    height: auto;

    /* 文字情報 */
    font-size: 20px;
    line-height: 1.5;
}


/* 96.タグデザイン */
.illust-tag {
    position: relative;

    /* 色 */
    background-color: #e7dbd2;

    /* 横いっぱいに置く */
    display: block;

    /* 位置 */
    margin-top: 40px;
    margin-bottom: -25px;

    /* 中身の位置 */
    padding: 10px 0 10px 50px;

    /* 影 */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);

    /* 隅カット */
    clip-path: polygon(10px 0, 100% 0, 100% 100%, 10px 100%, 0 calc(100% - 10px), 0 10px);
}

/* 穴あけ */
.illust-tag::before {
    position: absolute;
    content: '';

    /* 色 */
    background: #ffffff;

    /* 位置 */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 5%;

    /* 直径 */
    width: 8px;
    height: 8px;

    /* 角丸 */
    border-radius: 50%;

    /* 重なっても邪魔にならない */
    pointer-events: none;
}

/* タグ文字 */
.tag {
    /* 色 */
    color: #4d4d4d;

    /* 文字情報 */
    font-size: 16px;
    line-height: 1.5;
}


/* 96.見た目調整用 */
.wrap {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
    align-items: start;
}

#imageArea {
    display: flex;
    flex-direction: column;
}


/* 左コンテンツ */
.left {
    display: flex;
    flex-direction: column;
    
}


/* 右コンテンツ */
.right {
    display: flex;
    flex-direction: column;
}
