/* 1.背景 ページ全体 */
body {
    background-color: #e7dbd2;
}


/* 99.日記タイトル */
.title {
    /* 位置 */
    margin: 30px;

    /* 文字情報 */
    font-size: 30px;
    line-height: 1.5;
}


/* 98.日記内容 */
.text {
    /* 位置 */
    margin: 30px;

    /* 文字情報 */
    font-size: 20px;
    line-height: 2;
}


/* 97.画像 */
#gazou {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 40px;
}

#gazou img {
    width: 240px;
    height: 240px;
    object-fit: cover;
}
